################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*vpp.bak*
*vpp.vbak
*.vux*
/build
/Battleships.txt
